{% extends "mybase.html" %}

{% block allcontent %}

    <div class="row">
        <div class="col-md-2"></div>
	
        <div class="col-md-8">
	  <h3>AbonnementInnen Webseite der "Gartenkooperative Region Liechtenstein-Werdenberg" Genossenschaft.</h3>
	  Wir teilen uns das Risiko, die Betriebskosten, die Arbeit und die Ernte von vielfältigen und biologischen Gemüse.<br/>
	  Die offizielle Webseite lautet: <a href="http://www.gartenkooperative.li">www.gartenkooperative.li</a>
            <form action="" method="post" class="form-horizontal">
                {% csrf_token %}
                
		<hr/>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="username">Bestehender Benutzer</label>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="username">Email</label>
                    <div class="controls col-sm-8">
                        <input type="text" class="form-control" name="username" id="username" placeholder="Email-Adresse">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="password">Passwort</label>
                    <div class="controls col-sm-8">
                        <input type="password" class="form-control" name="password" id="password" placeholder="Passwort">
                    </div>
                </div>
                {% if form.errors %}
                    <div class="col-sm-offset-4 alert alert-danger">Sorry, das ist kein gültiges Login</div>
                {% endif %}
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <button type="submit" class="btn btn-success">Anmelden</button><br/><br/>
                        <a href="/my/neuespasswort">Neues Passwort anfordern</a><br/><br/>
                    </div>
                </div>
		<hr/>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="username">Neuen Benutzer anlegen</label>
                    <div class="controls col-sm-8">
			<a href="/my/anmelden">Neuen Benutzer registrieren</a>
			<br />
			<h3>Beispiel Registration</h3>
			<strong>Ein Haushalt</strong>: Ein Haushalt beteiligt sich mit einem kleinen Abo. Im Haushalt leben 2 oder mehr Personen die Arbeitseinsätze leisten wollen. <br/>
			<ul>
			  <li><strong>Variante 1</strong>: Die erste Person registriert das Konto in ihrem Namen und teilt den Login (Benutzername und Passwort) mit den anderen Personen im Haushalt. Der Benutzer sieht wieviel der 10 Arbeitseinsätze bereits geleistet wurden. Man sieht aber nicht wer wieviele Arbeitseinsätze geleistet hat.
			  </li>
			  <li><strong>Variante 2</strong>: Die erste Person (z.B. Stephan) registriert das Konto und fügt auf der übernächsten Registration Seite ein(e) <strong>MitabonnentIn</strong> (z.B. Nadine) mit eigener Email Adresse hinzu. Der/die MitabonnentIn bekommt einen eigenen Zugang (Benutzername und Passwort). So können sich alle beteiligten Personen mit ihrem eigenen Login anmelden und seine/ihre Arbeitseinsätze eintragen. <br/>Die 10 Arbeitseinsätze für das kleine Abo wird auf Stephan und Nadine à je 5 aufgeteilt. Das ist leider nicht ideal da die Personen vielleicht die Arbeitseinsätze anders aufteilen wollen und Stephan sieht nur von seinen 5 Arbeitseinsätze wieviele er schon geleistet hat aber hat keine Übersicht über die anderen Arbeitseinsätze der Mitabonnentinnen.</li>
			</ul>
			<strong>Zwei Haushalte teilen sich ein Abo</strong>: Zwei Haushalte teilen sich ein grosses Abo. Es bestehen die selben 2 Variante von "Ein Haushalt".<br/>
			<strong>Welche Variante wählen?</strong> Sacha S. empfiehlt die einfache Variante 1 zu wählen.
                    </div>
		    
                </div>
                <input type="hidden" name="next" value="{{ next|escape }}"/>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>

{% endblock %}
