{% extends "mybase.html" %}

{% block content %}
{% block message %} {% endblock %}
{% if no_abo %}
<br/>
<div class="alert alert-warning">Du hast kein Abo</div>
{% endif %}

<!-- Announcements können in views.py erstellt werden -->
{% autoescape off %}
{{ announcement }}
{% endautoescape %}

<h2>Willkommen!</h2>
<p>
  Auf dieser Seite organisieren wir:
  <ul>
    <li>Die Arbeitseinsätze: Jede(r) AbonnementIn einer kleinen Gemüse-Tasche verpflichtet sich für 10 Arbeitseinsätze (das sind 10 mal 1/2 Tage à je 4 Stunden)</li>
    <li>Die Abos und die Depots.</li>
  </ul>
</p>

    <h3>Aktuelle Arbeitseinsätze</h3>
    <table class="jobs">
        {% for job in jobs %}
            <tr class="{% if job.status == "erbse_voll.png" %}full{% endif %}">
                <td class="date">{{ job.time |date:"d.m H:i" }}</td>
                <td><a href="/my/jobs/{{ job.id }}">{{ job.typ.name }}</a></td>
                <td class="status"><img alt="Job-Status: {{ job.get_status_bohne }}" src="/static/img/{{ job.get_status_bohne }}"/></td>
            </tr>
        {% endfor %}
    </table>
    <br/>
    <a href="/my/einsaetze">Hier alle Arbeitseinsätze anzeigen</a>
    <br/><br/>
    <h4>Zu den Kalendern der einzelnen Tätigkeitsbereiche</h4>
    <table class="teams">
        {% for team in teams %}
            <tr>
                <td><a href="/my/teams/{{ team.id }}">{{ team.name }}</a></td>
            </tr>
        {% endfor %}
    </table>
    <br />
    <br />
    <br />

{% endblock %}
