{% extends "mybase.html" %}

{% block content %}
{% block message %} {% endblock %}
{% if no_abo %}
<br/>
<div class="alert alert-warning">Du hast kein Abo</div>
{% endif %}

<!-- Announcements können als Statischer Inhalt 'my.ortoloco' erstellt werden -->
{% autoescape off %}
{{ announcement }}
{% endautoescape %}

<h2>Willkommen!</h2>

<!-- Static Content: home_infos -->
{% autoescape off %}
{{ infos }}
{% endautoescape %}


<h3>Die nächsten möglichen Arbeitseinsätze</h3>
<table class="jobs">
  {% for job in jobs %}
            <tr class="{% if job.status == "erbse_voll.png" %}full{% endif %}">
              <td class="date">{{ job.wochentag }}, {{ job.time |date:"d.m @ H:i" }} </td>
              <td> <a href="/my/jobs/{{ job.id }}">{{ job.typ.name }}</a></td>
              <td class="status"><img alt="Job-Status: {{ job.get_status_bohne }}" src="/static/img/{{ job.get_status_bohne }}"/></td>
            </tr>
            {% endfor %}
</table>
<br/>
Wenn du deine Garteneinsätze frühzeitig planen musst, kommst du hier zu <a href="/my/einsaetze">allen zukünftigen Arbeitseinsätze</a>.
<br/><br/>
<h4>Zu den Kalendern der einzelnen Tätigkeitsbereiche</h4>
<table class="teams">
  {% for team in teams %}
  <tr>
    <td><a href="/my/teams/{{ team.id }}">{{ team.name }}</a></td>
  </tr>
  {% endfor %}
</table>
<br />
<br />
<br />

{% endblock %}
