{% extends "mybase.html" %}

{% block content %}
{% block message %} {% endblock %}
{% if no_abo %}
<br/>
<div class="alert alert-warning">Du hast kein Abo</div>
{% endif %}

<!-- Announcements können in views.py erstellt werden -->
{% autoescape off %}
{{ announcement }}
{% endautoescape %}

<h2>Willkommen!</h2>
<p>
  <ul>
    <li><strong>Wichtig:</strong> Für die Gartenfachkraft ist es ideal, wenn am Sonntag Abend die Einsätze für die kommende Woche ausgebucht sind. Spontane Anmeldungen sind aber natürlich sehr willkommen!</li>
    <li>Ab sofort kann man ein wöchentliches <strong>6er Eier Zusatzs Abo</strong> hinzufügen! "Abo" -> "Abo ändern" -> "Zusatz-Abo ändern" -> "6 Eier wöchentlich"</li>
    <li>Fragen? => Wir haben ein paar gängige Fragen <a href="/my/kontakt">hier</a> beantwortet.</li>
    <li>Die Arbeitseinsätze: Jede(r) AbonnementIn einer kleinen Gemüse-Tasche steuert 10 Arbeitseinsätze (das sind 10 mal 1/2 Tage à je 4 Stunden) bei. Jeder ausgeschriebene "Arbeitseinsatz" ist ein 4 Stunden Einsatz.</li>
  </ul>
  Auf ein gutes Gartenjahr!
</p>

    <h3>Die nächsten möglichen Arbeitseinsätze</h3>
    <table class="jobs">
        {% for job in jobs %}
            <tr class="{% if job.status == "erbse_voll.png" %}full{% endif %}">
                <td class="date">{{ job.wochentag }}, {{ job.time |date:"d.m @ H:i" }} </td>
                <td> <a href="/my/jobs/{{ job.id }}">{{ job.typ.name }}</a></td>
                <td class="status"><img alt="Job-Status: {{ job.get_status_bohne }}" src="/static/img/{{ job.get_status_bohne }}"/></td>
            </tr>
        {% endfor %}
    </table>
    <br/>
    Wenn du deine Garteneinsätze frühzeitig planen musst, kommst du hier zu <a href="/my/einsaetze">allen zukünftigen Arbeitseinsätze</a>.
    <br/><br/>
    <h4>Zu den Kalendern der einzelnen Tätigkeitsbereiche</h4>
    <table class="teams">
        {% for team in teams %}
            <tr>
                <td><a href="/my/teams/{{ team.id }}">{{ team.name }}</a></td>
            </tr>
        {% endfor %}
    </table>
    <br />
    <br />
    <br />

{% endblock %}
